body {
  padding: 50px;
  font: 14px 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'Helvetica Neue', "Lucida Grande", Helvetica, 'BIZ UDPGothic', Arial, Meiryo, sans-serif;
}

a {
  color: #00B7FF;
}
